<section>
    {% assign comments_subfolder = page.url | slugify %}
    {% assign comment_files = site.data.comments[comments_subfolder] %}
    {% assign top_level_comments = '' | split: '' %}
    {% for comment_file in comment_files %}
        {% if comment_file[1].parentId == null or comment_file[1].parentId == '' %}
            {% assign top_level_comments = top_level_comments | push: comment_file[1] %}
        {% endif %}
    {% endfor %}
    {% assign top_level_comments = top_level_comments | sort: 'date' %}

    <h2>Kommentare ({{ comment_files.size | default: 0 }})</h2>

    <div id="comments">
    {% for comment in top_level_comments %}
        {% include comment.html id=comment._id name=comment.name message=comment.message date=comment.date email=comment.email %}
    {% endfor %}
    </div>
    
    <h3 id="add-comment">Kommentar abgeben</h3>

    <form id="comment-form" autocomplete="off" method="POST" action="https://elis-blog-backend.fly.dev/v3/entry/github/elias-gander/elias-gander.github.io/main/comments">
        <input type="text" name="fields[name]" placeholder="Dein Name" required>
        <textarea name="fields[message]" placeholder="Dein Kommentar" required></textarea>
        <label for="email">Optional, für Benachrichtigungen bei Antworten</label>
        <br>
        <input type="email" id="email" name="fields[email]" placeholder="Deine Mailadresse">
        <button class="g-recaptcha" data-sitekey="6Ld501MpAAAAACnG_v6PjIQzJX08Fw5OWb8rmYu2" data-callback="onSubmit">Absenden</button>

        <input type="hidden" name="fields[parentId]" id="parentId" value="">
        <input type="hidden" name="options[redirect]" value="{{ '/danke' | absolute_url }}">
        <input type="hidden" name="options[slug]" value="{{ comments_subfolder }}">
        <input type="hidden" name="options[reCaptcha][siteKey]" value="6Ld501MpAAAAACnG_v6PjIQzJX08Fw5OWb8rmYu2">
        <input type="hidden" name="options[reCaptcha][secret]" value="Wq7oWYWvqiey2Z1y1SbTNFCK+Vv2/fNreCG1Cv/M8NMe9mbcCzysEHqbL0bxCeesu4nE8pESkID4yTa4Ig7WqMGeKJCxcmdhMUohKh9sytOnITgZLgOgXgU3BLuM2POyyTQzZ+MGmct74sDONrTaGSY21KqAd0Jpk0oqNurS0EH/y4TGhyajqY5LHk29C6Dzzh8VdWo24g+Fm25Ylwi3shygg6bWGWafCygES1qUgQuVAgEsB1ZJivf/X8TEbLNl/YmwJO07FwNNsyk69GjqAWVHC9f0PbCevW+Zh7SAGTyZHlBKI1AFtGnQG+xAi5WtOWB0+dzsT2wMFxHhXig52A==">
        <input type="hidden" name="options[notify]" id="notify" value="">
        <input type="hidden" name="options[baseUrl]" value="{{site.url}}{{page.url}}">
    </form>

    <div id="recaptcha-branding">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </div>  
</section>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function respondTo(id, notify, authorName) {
        cancelResponse();
        document.getElementById("add-comment").scrollIntoView({behavior: "smooth", block: "start"});
        document.getElementById("parentId").value = id;
        document.getElementById("notify").value = notify;
        document.getElementById("add-comment").insertAdjacentHTML("afterend", 
            `<div id="response-info">
                als Antwort an ${authorName} <button onclick="cancelResponse();">&#10005;</button>
            </div>`
        );
    }

    function cancelResponse() {
        document.getElementById("parentId").value = "";
        document.getElementById("notify").value = "";
        document.getElementById("response-info")?.remove();
    }

    function onSubmit(token) {
        const form = document.getElementById("comment-form");
        if (form.checkValidity()) {
            form.submit();
        } else {
            grecaptcha.reset();
            form.reportValidity();
        }
    }
</script>