// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
    filter: invert(1);
    img {
      filter: invert(1);
  
      &.ioda { filter: invert(0); }
    }
  }
  
  body[a="dark"] { @include dark-appearance; }
  
  
  @media (prefers-color-scheme: dark) {
    body[a="auto"] { @include dark-appearance; }
  }
  // -------------------------------------------- //
  
  // bg color is also needed in html in order to
  // block body's background propagation
  // see: https://stackoverflow.com/a/61265706
  html, body { background: white; }
  
  html { height: 100%; }
  
  body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
  }
  
  .post-meta { text-align: right; }
  
  h2, h3, h4, h5, h6 { margin-top: 3rem; }
  
  hr { margin: 2rem 0; }
  
  p { margin: 1rem 0; }
  
  li { margin: 0.4rem 0; }
  
  *:target { background: yellow; }
  
  .w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  
  hr {
    text-align: center;
    border: 0;
  
    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
  }
  
  table { width: 100%; }
  
  table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
  }
  
  code {
    color: #f8f8f2; // 改变字体颜色
    background: #282a36; // 代码背景色
    border: 1px solid #6272a4; // 边框颜色
    border-radius: 4px; // 圆角
    padding: 0.2rem 0.4rem; // 内边距
    font-family: 'Courier New', monospace; // 字体
    transition: background 0.3s ease; // 过渡效果

    &:hover {
        background: #44475a; // 悬停时的背景色
    }
  }

  div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
    background: #1e1e1e; // 块级代码背景色
    border-radius: 4px; // 圆角
    border: 1px solid #6272a4; // 边框颜色
    color: #f8f8f2; // 字体颜色
  }

  pre {
    background: #282a36; // 块级代码背景
    padding: 1rem;
    border-radius: 4px; // 圆角
    overflow-x: auto; // 防止溢出
    border: 1px solid #6272a4; // 边框颜色
  }

  blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
  
    p { margin: 0; }
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }